/ {
    aliases {
        gpio15 = &gpio_hdlc;
    };
    chosen {
        zephyr,console = &uart1;
        zephyr,shell-uart = &uart1;
    };
    leds {
        compatible = "gpio-leds";
        gpio_hdlc: gpio_15 {
            label = "GPIO 15";
            gpios = <&gpio0 15 GPIO_ACTIVE_LOW>;
        };
    };
};
